#root,body,html{
  background-color: aqua;
  width: 100%;
  height:100%;
}
.container{
  display: flex;
  flex-direction: column;
  border: solid black;
  align-items: center;
  
  justify-content: center;
  
 background-color: rgb(128, 238, 17);
 width:600px;

}
.button{
  background-color: coral;
}
